

 <table class="table">
  <thead>
    <tr>
      <th scope="col">Pais</th>
      <th scope="col">Bandera</th>
      <th scope="col">Seleccione el correspondiente:</th>
    </tr>
  </thead>
  <tbody *ngFor="let pais of listaPaises ">
    <tr>
      <td>{{pais.name}}</td>
      <td><img [src]="pais.flag" alt="" width="20px" height="20px"></td>
      <td> 
        <input id="enum_answer_{{pais.name}}"    (click)="seleccionPais(pais)"
        [value]='pais.name' type="radio" name="enums" [(ngModel)]="pais.name" required> </td>
    </tr>
  </tbody>
</table>
