<h4 class="d-flex justify-content-between align-items-center mb-3">
  <span class="text-muted">Paises</span>
  <span class="badge badge-secondary badge-pill">3</span>
</h4>
<div *ngFor="let bandera of misPaises | async">
  <ul class="list-group mb-3">
    <li   class="list-group-item d-flex justify-content-between lh-condensed" >
      <label>{{bandera.name.common}} <img [src]="bandera.flags.png"  width="30px" height="30px"></label>
     

  <!-- <input type="button"  [value]="bandera.name.common"  (click)="buscarPais(bandera.name.common)"> -->
</li>
</ul>
</div>


<form class="card p-2">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Promo code">
    <div class="input-group-append">
      <button type="submit" class="btn btn-secondary">Redeem</button>
    </div>
  </div>
</form>