

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <span class="navbar-brand mb-0 h1">Gisela Acosta</span>

 
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Pagina Principal <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/peliculas/listado">Peliculas</a>
        </li>
     
   
        <li class="nav-item dropdown">
          <a class="nav-link"  routerLink="/actor/alta">Actores</a>

        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>