

  <div *ngIf="!unaPelicula || unaPelicula.id ===''">
    <p> Seleccione una pelicula </p>
    <p> y se mostrara su detalle  </p>
    <p> aqui  </p>

</div>
<div *ngIf="unaPelicula && unaPelicula.id !==''">
  <div class="card" style="width:200px">
    <img class="card-img-top" src="{{unaPelicula.foto}}" alt="Card image" style="width:70%">
    <div class="card-body">
      <h4 class="card-title">{{unaPelicula.nombre}}</h4>
      <p class="card-text">La pelicula tuvo {{unaPelicula.cantidadpublico}} de espectadores en total cuando estuvo en cartelera</p>
      <p class="card-text">Su fecha de estreno fue en : {{unaPelicula.fechadeestreno}}</p>
      <!-- <button type="button" class="btn btn-info"   (click)="mostrarDetalles(unaPelicula)">Modificar<i class="fa fa-check"></i> 
      </button>-->
    </div>
  </div>
</div>

