<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="../../../assets/altapelicula.jpg" alt="" width="72" height="72">
    <h2>Alta de Actores</h2>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <app-tabla-paises></app-tabla-paises>
    
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Informacion de Actor</h4>
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Nombre</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Apellido</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

   

     

        <div class="mb-3">
          <label for="address">Direccion</label>
          <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

       

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Pais</label>
          
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
      
        
        </div>
        <hr class="mb-4">
       
        <hr class="mb-4">

  
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar Informacion</button>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2022 Gisela Acosta</p>
  
  </footer>
</div>
