<div *ngIf="!unActor || unActor.id ===''">
    <p> Seleccione un actor </p>
    <p> y se mostrara su informacion personal  </p>

</div>
<div *ngIf="unActor && unActor.id !==''">
  <div class="card" style="width:200px">
    <div class="card-body">
      <h4 class="card-title">Datos del actor:</h4>
      <p class="card-text">Nombre completo: {{unActor.nombre}}</p>
      <p class="card-text">Direccion: {{unActor.direccion}}</p>
      <p class="card-text">Edad: {{unActor.edad}}</p>
      <!-- <button href="#" class="btn btn-danger" (click)="modificarActor(unActor)">Modificar</button> -->
      <br>
      <br>
      <button href="#" class="btn btn-danger" (click)="borrarActor(unActor.id)">Borrar</button>

    </div>
  </div>
</div>