

     <app-navbar></app-navbar>

     <main role="main">
       <app-tabla-actor-pelicula  (actorSeleccionado)="tomarActorParaDetalles($event)" ></app-tabla-actor-pelicula>
  
       <div class="container">
         <div class="row">
           <div class="col-md-4">
         <app-pelicula-listado [unActor]="unActor"  ></app-pelicula-listado > 
           </div>

   
           <div class="col-md-4">
            <app-detalle-pais [unActor]="unActor"></app-detalle-pais>
          </div>
           <div class="col-md-4">

                           <app-detalle-actor [unActor]="unActor"></app-detalle-actor>
                          </div>

         </div>

         <hr>
<!--      <app-actor-pelicula  [unActor]="unActor" ></app-actor-pelicula>
 -->
       </div> 
     
     </main>
     
     <footer class="container">
       <p>&copy; Gisela Acosta</p>
     </footer>