
  <div class="container">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="../../../assets/altapelicula.jpg" alt="" width="200" height="200">
      <h2>Alta de pelicula</h2>
    </div>

    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">

        <app-tabla-actores></app-tabla-actores>  
      </div>
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Datos de Pelicula</h4>
        <span *ngIf="submitted && createPelicula.invalid" class="badge badge-danger">TODOS LOS CAMPOS SON OBLIGATORIOS</span>

        <form  [formGroup]="createPelicula"  (ngSubmit)="agregarEditarPelicula()" class="needs-validation" novalidate>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Nombre de Pelicula</label>
              <input type="text" class="form-control" id="firstName" formControlName="nombre" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
          
            <label for="lastName">Elige tipo de pelicula</label>

        

              <select formControlName="tipodecategoria"
      
     
      name="tipo"
      class="select-text">
       <option class="dropdown-item" disabled selected value="undefined">Selecciona una Opcion</option>
       <option 
        *ngFor="let tipo of categoriasLista;let x = index"
        [ngValue]="tipo.data"
       class="dropdown-item">{{tipo.data}}</option>
    </select>
          </div>
        </div>


          <div class="mb-3">
            <label for="address">Cantidad de publico</label>
            <input type="number" class="form-control" id="address" formControlName="cantidadpublico" placeholder="" required>
            <div class="invalid-feedback">
              Please enter your shipping address.
            </div>
          </div>



     
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">Fecha</label>
              <input type="date" class="form-control" id="cc-expiration" formControlName="fechadeestreno" placeholder="" required>
              <div class="invalid-feedback">
                Fecha
              </div>
            </div>
         
          </div>

          
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">Foto</label>
       
              <input type="file" accept=".png, .jpg,.jpeg" formControlName="foto" (change)="cargarImagen($event)"  multiple id="inputFile"> 
               <img src="{{imagenes[0]}}" alt="imagen subida" width="200" height="200">
             </div> 
          </div>
          <hr class="mb-4">
          <button type="text" class="btn btn-secondary btn-lg mr-3"
          routerLink="/busqueda">Volver</button>
          <button type="submit" class="btn btn-dark btn-lg">Agregar Pelicula</button>
        </form>
      </div>    

    </div>
 
  </div>





